# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Generated image and executables
mandelbrot.ppm
mandelbrot_cli
mandelbrot_gui

Praktikum_2.creator.user.*
